body{
  padding: 0;
  margin: 0;
}
/*------------------phần menu--------------*/
.nav{
    height: 100px;
    width: 100%;
    z-index: 20;
    float: left;
}
    .fix{
        height: 100px;
        width: 100%;
        position: fixed;
        background-color: darkblue;
    }
    .logo img{
        height: 100px;
        width: auto;
        float: left;
        
    }
    .menu{
        height: 50px;
        margin-left: 80px;
        margin-top: 15px;
        float: left;
        font-family: Time new roman, Arial;
    }
    .menu ul {
      list-style-type: none;
      text-align: center;
    }
    .menu li {
      display: inline-block;
      width: 120px;
      height: 40px;
      line-height: 40px;
      margin-left: -5px;
      font-size: 18px;
    }
    .menu a {
      text-decoration: none;
      display: block;
      color: floralwhite;
    }
    .menu a:hover {
      color: red;
    }

    /*==Dropdown Menu==*/
        .sub-menu {
          display: none;
          position: absolute;
          background-color: darkblue;
        }
        .menu li {
          position: relative;
        }
        .menu li:hover .sub-menu {
          display: block;
        }
        .sub-menu li {
          width: 150px;
          height: 30px;  
          margin-left: 0 !important;
          font-size: 16px;
          padding-top: 0;
        }
        .sub-menu a{
            text-align: left;
        }
        .sub-menu > ul {
            display: none !important;
        }
    .search{
        margin-top: 40px;
        margin-left: 100px;
        float: left;
    }

/*----------search-----------*/
.header{
    height: 500px;
    width: 100%;
    padding: 10px 0px;
    display: block;
}
.header img{
    height: 500px;
    width: 80%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/*----------------body-------------*/
/*.body{
    height: 2000px;
    width: 100%;
    float: left;
    
}*/

.footer{
  height: 300px;
  width: 100%;
  background-color: black;
  margin-top: 50px;
  float: left;
}
  .left-footer{
    height: 300px;
    width: 30%;
    float: left;
  }
  .left-footer img{
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 50px;
  }
  .lienhe{
    height: 300px;
    width: 35%;
    color: white;
    float: left;
  }
  
  .time{
    height: 300px;
    width: 35%;
    color: white;
    float: left;
  }
